@model IEnumerable<ItemsDto>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="text-align:right">
                <a onclick="showInPopup('@Url.Action("Form","Items",null,Context.Request.Scheme)','Création d\'un mode de Paiement')" class="btn btn-success text-white"><i class="fas fa-plus"></i> Ajouter</a>
            </th>
        </tr>
    </thead>
    <tbody id="example2body" class="table-hover">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align:right">
                    <a class="btn btn-sm btn-outline-info" asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fas fa-info-circle" title="Details"></i>
                    </a>
                    <a onclick="showInPopup('@Url.Action("Form","Items",new {id=item.Id},Context.Request.Scheme)','Mise à jour d\'un mode de Paiement')" class="btn btn-sm btn-outline-success">
                        <i class="fas fa-pencil-alt" title="Edit"></i>
                    </a>
                    <a onclick="showInPopup('@Url.Action("RequestDeleteConfirmation","Items",new {id=item.Id},Context.Request.Scheme)','Suppression d\'un mode de Paiement')" class="btn btn-sm btn-outline-danger">
                        <i class="fas fa-trash" title="Delete"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>



@*
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="example2_info" role="status">
            <!-- Affichage de 1 à 10 sur 57 entrées -->
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination float-right">

                @foreach (var link in Model.Links)
                {
                    var itemParameters = new Dictionary<string, string>
                    {
                        { "PageNumber", link.Text },
                    };

                    <li class="paginate_button page-item @(link.Enabled ? null : "disabled") @(link.Active ? "active" : null)">
                        <a class="page-link" asp-action="Index" asp-all-route-data="itemParameters">@link.Text</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>
*@






